/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 640px;
    }


.masthead {
    margin: 20px 0;
}

.jumbotron {
    margin: 20px 0;
}

.main-stuff {
    margin: 0px 0;
}

#thelogo {
    margin: 20px;
}

#textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

#thesubmit {
    width: 100%;
}