<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Super Secret!</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <div class="container-narrow">
    <div class="masthead">
      <div class="header clearfix">
        <a href="/" class="navbar-left">
          <p style="float: left;"><img src="/static/img/supersecretsecrets-64.png" id="thelogo" /></p>
        </a>
        <h3 class="text-muted">Super-Secret-Secrets</h3>
      </div>
    </div>
    <hr>
    <div id="main-stuff">
      {% block content %}{% endblock %}
    </div>
    <footer class="page-footer font-small teal pt-4">
      <hr>
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <hr class="clearfix w-100 d-md-none pb-3">
          <div>
            <h5 class="text-uppercase text-center font-weight-bold">Note</h5>
            <p>This page is an exercise in learning Rust by copying the functionality of
              <a href="https://onetimesecret.com/">https://onetimesecret.com/</a>. There is no guarantee of
              functionality or uptime.
            </p>

          </div>
        </div>
      </div>
      <div class="text-center py-3">
        <a href="https://gitlab.com/jensusius/supersecretsecrets">Project link</a>
      </div>
    </footer>
  </div>
</body>

</html>