{% extends "base.html" %}

{% block content %}
<h3 class="pretext">Store super secret secrets to be viewed once.</h3>
<form action="/supersecret" method="POST">
  <div class="form-group">
    <textarea id="textarea" name="msg" class="form-control"></textarea>
  </div>
  <div class="form-group" style="width: 100%;">
    <button id="thesubmit" name="submit" type="submit" class="btn btn-default btn-block">Create</button>
  </div>
</form>
{% endblock %}