{% extends "base.html" %}

{% block content %}
<h3>The secret does not exist or has been viewed already 🤔</h3>
<form action="/">
  <button id="thesubmit" name="submit" type="submit" class="btn btn-default btn-block">Create new secret!</button>
</form>
{% endblock %}