{% extends "base.html" %}

{% block content %}
<h3>Careful, you can only view the secret once!</h3>
<form action="/supersecret/{{ secret_id }}" method="POST">
  <div class="form-group" style="width: 100%;">
    <button id="thesubmit" name="submit" type="submit" class="btn btn-default btn-block">Show me the stuff!</button>
  </div>
</form>
{% endblock %}