{% extends "base.html" %}

{% block content %}
<h3>Super Secret, Secret Generated</h3>
<div class="jumbotron">
  <p>This is your secret link</p>
  <p>{{ base_path }}/{{ secret_id }}</p>
</div>
{% endblock %}